# Ignore everything except...
**/*
# Allow specific file types
!**/*.txt
!**/*.c
!**/*.cpp
!**/*.sh
!**/.gitignore
!**/Makefile
!**/makefile
# Ignore any empty directories
!**/
# Exclude build directory
build/